<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.knownow"
    tools:ignore="ExtraText">

    <!-- Permissions should be placed here, outside the <application> tag -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Application tag starts here -->
    <application
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher" > <!-- Use legacy icon -->
    android:label="@string/app_name"
    android:theme="@style/Theme.KnowNow"
    tools:ignore="MissingClass">

    <!-- MainActivity or other activities -->
    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.KnowNow"
        tools:ignore="WrongManifestParent">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity></application>


    <!-- Add other activities, services, or broadcast receivers as needed -->



    </manifest>
